<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
	<img src="<%= @photo.url %>" width="200" ></a>
  
</p>

<p>
  <b>Filter:</b>
  <%= @photo.filter %>
</p>
<h3>Comments</h3>
<% @photo.comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br />
    <p><%= comment.body %><p>
  </div>
<% end %>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_user_photo_path(@photo.user, @photo) %> |
<%= link_to 'Back', user_photos_path(@photo.user) %>
