<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Url:</b>
  <%= @photo.url %>
</p>

<p>
  <b>Filter:</b>
  <%= @photo.filter %>
</p>


<%= link_to 'Edit', edit_user_photo_path(@photo.user, @photo) %> |
<%= link_to 'Back', user_photos_path(@photo.user) %>
